
 /* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap"); */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}  */

* {
  font-family: Arial, Helvetica, sans-serif;
}

.largest-bold {
  font-weight: 520;
  font-size: 30px;
}

.large-bold {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.medium-bold {
  font-weight: 300;
  font-size: 20px;
}


.small {
  font-size: 12px;
}

.medium {
  font-size: 14px;
}

.large {
  font-size: 24px;
}



.resume {
  width: 800px;
  height: auto;
  margin: 20px auto;
  border: 1px solid #50463a;
  border-top: 0px solid #50463a;
}

.profile {
  width: 800px;
  height: 200px;
  display: flex;
  border: 1px solid #50463a;
  border-bottom: 1px solid #2596be;
  border-left: 0px solid #50463a;
  border-right: 0px solid #50463a;
}

.design {
   flex: 1;
   /* border: 1px solid #50463a; */
}

.resume-info {
   flex: 4;
   margin-top: 40px;
}

.resume-info .name, .resume-info .designation {
  margin: 0px;
}

.resume-info .designation {
  color: #609cd3;
}

.resume-picture {
   flex: 2;  
   margin-top: 25px;
}

.resume-picture img {
  border: 4px solid #4f90cd;
  border-radius: 100%;

}

.resume-address {
   flex: 4;
   margin-top: 35px;
}

.resume-address ul li {
  display: flex;
  margin-bottom: 10px;
  margin-left: 20px;
  align-items: center;
}

.resume-address ul li .icon {
  width: 15px;
  height: 15px;
  /* background: #fff; */
  /* color: #0bb5f4; */
  /* border-radius: 50%; */
  font-size: 12px;
  position: relative;
}

.blank-space {
  flex: 1;
  /* border: 1px solid #50463a; */
}


.content {
  width: 800px;
  height: auto;
  display: flex;
  /* border: 1px solid #50463a; */
}

.left-content {
  flex: 4.5;
  /* border: 1px solid #50463a; */
}

.technical {
  height: auto;
  width: auto;
  display: flex;
}

.technical-content {
  margin-top: 24px;
  /* border: 1px solid #50463a; */
}

.technical ul {
  margin-top: 0px;
  padding: 4px 20px 20px 20px;
}

.technical ul li {
   margin-top: 12px;
}

.problem-solving ul, .experience-content ul {
  padding-left: 24px;
}

.problem-solving .judge {
  margin-bottom: 0px;
}

.problem-solving .judge-url {
  margin-top: 4px;
}

.experience-content .pre-company-designation {
  margin-top: 0px;
}

.experience-content .company {
   margin-bottom: 6px;
}

.experience-content {
  margin-top: 24px;
  margin-bottom: 24px;
}

.experience .technology {
  margin-top: 0px;
}

.experience .pre-company-designation {
  margin-bottom: 6px;
}

.education-content {
  margin-bottom: 24px;
}

.programming-experiences .elements-header {
  margin-bottom: 5px;
}

.programming-experiences .elements-details {
  margin-top: 0px;
}

.programming-experiences-content {
  margin-top: 24px;
}

.projects .elements-header {
  margin-bottom: 5px;
}

.projects .elements-details {
  margin-top: 0px;
}

.project-content {
  margin-top: 24px;
}

.projects .project-url {
  margin-top: 0px;
}

.projects .elements-details {
  margin-bottom: 4px;
}

.right-content {
  padding-left: 24px;
  margin-left: 12px;
}

.profile-content .profile {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  border: 0px;
}

 .profile-content .profile-icon {
  margin-right: 8px;
}

.profile-content .profile-linked-in {
  margin-top: 0px;
} 

.profile-content .linked-in-icon {
  margin-top: 0px;
} 

.profile-content {
  margin-bottom: 12px;
}


.url {
  text-decoration: underline;
  color: #0070c0;
  /* font-weight: bold; */
}


.right-content {
  flex: 5.5;
  border-left: 1px solid #4f90cd;
}


